
<!--The content below is only a placeholder and can be replaced.-->

<table id="DefaultTable" align="center">
    <tr>
        <th></th><th>Bid</th><th>Name</th><th>Score <i class="fa fa-sort" (click)="sortPlayersByScore()"></i></th><th></th>
    </tr>
    <tr *ngFor="let player of players; let i=index">
          <td (click)="gotCall(i)">
              <i class="fa fa-check-circle"></i>
          </td>
          <td>
              <input type="number" class="bidInput" pattern="[0-9]*" placeholder="0" [(ngModel)]="player.bid" tabindex="2">
          </td>
          <td>
              <span>
                  <input type="text" class="inputName" placeholder="New" [(ngModel)]="player.name" value="{{player.name}}">
              </span>
          </td>
          <td>
              <span>
                  <input type="number" class="scoreInput" pattern="[0-9]*" [(ngModel)]="player.score"  tabindex="3">
              </span>
          </td>
          <td (click)="deletePlayer(i)">
              <i class="fa fa-trash"></i>
          </td>
    </tr>
  </table>



